<mat-card-title *ngIf="hero$ | async as model">
  <h2>{{ model.name }} details!</h2>
</mat-card-title>

<mat-card-content *ngIf="hero$ | async as model">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID of the hero" value="{{model.id}}" disabled>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="hero" name="name" placeholder="Name of the hero" value="{{model.name}}">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="save()">Save</button>
    <button mat-raised-button (click)="goBack()">Back</button>
  </form>
</mat-card-content>
