<mat-card-title>
  <h2>My Heroes</h2>
</mat-card-title>

<mat-card-content>
  <form class="example-form">
    <mat-form-field class="example-half-width">
      <input matInput #heroName placeholder="Name of a new hero">
    </mat-form-field>
    <button mat-raised-button (click)="add(heroName.value); heroName.value=''" color="warn">
      <mat-icon>add</mat-icon>Add
    </button>
  </form>
  
  <mat-nav-list>
    <mat-list-item *ngFor="let hero of (heroes$ | async)">
       <a matLine (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero">{{hero.id}} | {{hero.name}}</a>
       <button mat-icon-button (click)="delete(hero); $event.stopPropagation()">
          <mat-icon>delete</mat-icon>
       </button>
    </mat-list-item>
  </mat-nav-list>

  <div *ngIf="selectedHero">
    <h2>
      {{selectedHero.name | uppercase}} is my hero
    </h2>
    <button mat-button color="primary" (click)="gotoDetail()"><mat-icon>info-outline</mat-icon>View Details</button>
  </div>

</mat-card-content>
